.home_body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .hero_title_div {
    width: 100%;
    position: relative;
    text-align: center;

    h1, p {
      width: 100%;  
      margin: 0;
      font-family: "Artegra";
      font-size: clamp(2rem, 6vw, 14rem);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .title1 {
        bottom: 0.7vw;
        color: rgb(111, 113, 117);
        z-index: 0;
    }
    
    .title2 {
        top: 0.7vw;
        color: rgb(111, 113, 117);
        z-index: 0;
    }
    
    .title3 {
        bottom: 2vw;
        color: rgb(171, 176, 180);
        z-index: -1;
    }
    
    .title4 {
        top: 2vw;
        color: rgb(171, 176, 180);
        z-index: -1;
    }

    h1 {
      position: relative;
      color: #000000;
      opacity: 0.9;
      z-index: 1;
    }

  }

}

