.navbar-desktop {
    height: 3.5rem;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #919191;
    margin-top: 2rem;
    padding: 1.5rem;
    border: solid 0.3px;
    border-radius: 3rem;
    border-color: white;
    box-shadow: 1px 1px 30px rgba(128, 128, 128, 0.5);
    opacity: 0.5;
}

.liens-navbar-desktop {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    color: white;
    margin-right: 5rem;
}

.liens-navbar-desktop a {
    text-decoration: none;
    color: white;
}

.logo-desktop {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
}


.dropdown-desktop {
    position: relative;
    display: inline-block;
}

.liens-dropdown-desktop {
    display: none;
    position: absolute;
    // top: 100%;
    margin-top: 1rem;
    border: solid 0.3px;
    border-radius: 5px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.liens-dropdown-desktop a {
  float: none;
  color: white;
  padding: 0.3rem 0.3rem;
  text-decoration: none;
  display: block;
  text-align: left;
  border-top: solid 0.3px;
}

.liens-dropdown-desktop a:hover {
  background-color: #ddd;
}

.dropdown-button {
    border: none;
    background-color: inherit;
    color: white;
}

.dropdown-desktop.active .liens-dropdown-desktop {
  display: block;
}

.toggle-image {
    width: 50px;
    height: 50px;
}

.dropdown-desktop:hover .liens-dropdown-desktop {
  display: block;
}

.navbar-mobile {
    display: none;
    position: relative;
    background-color: #919191;
    padding: 1rem;
    border-radius: 1.5rem;
    width: 12%;
    max-height: 5rem;
    margin-left: auto;
    margin-top: 2rem;
    margin-right: 2rem;
}


/* Toggle bouton */
.toggle-navbar {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
}

/* Menu mobile caché */
.liens-navbar-mobile {
    display: none;
    flex-direction: column;
    margin-top: 1rem;
    border: solid 0.3px;
    border-color: white;
    border-radius: 1rem;
    width: 5rem;
    text-align: center;
}

.liens-navbar-mobile a {
    padding: 0.5rem 0;
    color: white;
    text-decoration: none;
    text-align: center;
}

/* dropdown mobile */
.dropdown:hover .liens-dropdown {
    position: static;
    box-shadow: none;
    margin-top: 0;
}

@media (max-width: 768px) {
    /* cacher navbar desktop */
    .navbar-desktop {
        display: none;
    }

    /* afficher navbar mobile */
    .navbar-mobile {
        display: block;
    }
    
    .liens-navbar-mobile {
        display: none;
    }

    .liens-navbar-mobile.active {
        display: flex;
    }

    .logo-mobile {
        display: none;
    }
}
