.terminal-skills-project-container {
    position: fixed;
    display: block;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: black;
    opacity: 0.9;
    z-index: 2;
    border-top: solid 1.8rem;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: rgb(89, 89, 89);
    font-family: 'Cascadia';
}

.terminal-skills-project-container.active {
  display: block;
}

.terminal-content {
  padding-top: 1rem;
}

.initializer {
    color: #dedede;
    display: flex;
    gap: 0.5rem;
    margin-left: 0.4rem;
    font-size: 0.8rem;
}

.loading-projects {
    color: #dedede;
    display: flex;
    gap: 0.5rem;
    margin-left: 0.4rem;
    font-size: 0.8rem;
    display: none;
}
.press-skills {
    color: #dedede;
    display: flex;
    gap: 0.5rem;
    margin-left: 0.4rem;
    font-size: 0.8rem;
    display: none;
}

.initializer p {
    margin: 0;
}

.loading-projects p {
    margin: 0;
}

.press-skills p {
    margin: 0;
}

.beginator {
    display: none;
}

.loader {
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  border-top: 1px solid #cde401;
  width: 0.5rem;
  height: 0.5rem;
  margin-top: 0.35rem; 
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}