.home_body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* ← MODIFIÉ */
  position: relative;
  width: 100%; /* ← AJOUTÉ */
  box-sizing: border-box;
}

.hero_title_div {
  width: 100%;
  margin-top: clamp(8rem, 20vh, 15rem); /* ← MODIFIÉ */
  position: relative;
  text-align: center;
  padding: 0 1rem; /* ← AJOUTÉ */
  box-sizing: border-box;
}

h1, p {
  width: 100%;
  margin: 0;
  font-family: "Artegra";
  font-size: clamp(2rem, 10vw, 14rem); /* ← MODIFIÉ */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.title1 {
    bottom: clamp(0.5vw, 1vw, 2vw); /* ← MODIFIÉ */
    color: rgb(111, 113, 117);
    z-index: 1;
}

.title2 {
    top: clamp(0.5vw, 1vw, 2vw); /* ← MODIFIÉ */
    color: rgb(111, 113, 117);
    z-index: 1;
}

.title3 {
    bottom: clamp(1vw, 2vw, 4vw); /* ← MODIFIÉ */
    color: rgb(171, 176, 180);
    z-index: 0;
}

.title4 {
    top: clamp(1vw, 2vw, 4vw); /* ← MODIFIÉ */
    color: rgb(171, 176, 180);
    z-index: 0;
}

h1 {
  position: relative;
  color: #141414;
  opacity: 0.9;
  z-index: 2;
}


@media (max-width: 768px) {
  .hero_title_div {
    margin-top: 12rem;
  }
}

@media (max-width: 480px) {
  .hero_title_div {
    margin-top: 10rem;
    padding: 0 0.5rem;
  }
  
  h1, .hero_title {
    font-size: clamp(1.8rem, 12vw, 3rem);
  }
}

@font-face {
  font-family: 'Artegra';
  src: url('/fonts/ArtegraSans-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'ArtegraLightItalic';
  src: url('/fonts/ArtegraSans-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'ArtegraLight';
  src: url('/fonts/ArtegraSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'LumiosTypewriter';
  src: url('/fonts/LumiosTypewriter-Old.ttf') format('truetype');
}
@font-face {
  font-family: 'Cascadia';
  src: url('/fonts/Cascadia.ttf') format('truetype');
}

