.navbar-desktop {
    height: 2rem;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25));
    margin-top: 2rem;
    padding: 1.5rem;
    border: solid 0.3px;
    border-radius: 3rem;
    border-color: white;
    box-shadow: 1px 1px 30px rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(12px);
    opacity: 0.5;
}

.liens-navbar-desktop {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    color: white;
    margin-right: 5rem;
}

.liens-navbar-desktop a {
    text-decoration: none;
    color: white;
}

.logo-desktop {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}


.dropdown-desktop {
    position: relative;
    display: inline-block;
}

.liens-dropdown-desktop {
    display: block;
    position: absolute;
    margin-top: 1rem;
    border: solid 0.3px;
    border-radius: 5px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.liens-dropdown-desktop a {
  float: none;
  color: white;
  padding: 0.3rem 0.3rem;
  text-decoration: none;
  display: block;
  text-align: left;
  border-top: solid 0.3px;
}

.liens-dropdown-desktop a:hover {
  background-color: #ddd;
}

.dropdown-button {
    border: none;
    background-color: inherit;
    color: white;
}

.dropdown-desktop.active .liens-dropdown-desktop {
  display: block;
}

.toggle-image {
    width: 50px;
    height: 50px;
}

.navbar-mobile {
    display: block;
    position: relative;
    background-color: #919191;
    border: solid 0.3px;
    border-color: white;
    padding: 0.4rem;
    border-radius: 1.5rem;
    min-width: 35px;
    max-height: 4rem;
    margin-left: auto;
    margin-top: 2rem;
    margin-right: 1.5rem;
}

.toggle-navbar {
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
    z-index: 2;
    position: relative;
}

.liens-navbar-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    position: absolute;
    top: 0;
    right: 100%;
    transform: translateX(-0.2rem) translateY(-0.9rem);
    border: solid 0.3px;
    border-color: white;
    border-radius: 1rem;
    width: 5rem;
    text-align: center;
}

.liens-navbar-mobile a {
    padding-bottom: 0.5rem;
    color: white;
    text-decoration: none;
    text-align: center;
}

.dropdown-button-mobile {
    color: white;
    opacity: 0.9;
    cursor: pointer;
    padding-bottom: 0.5rem;
}

.dropdown:hover .liens-dropdown {
    position: static;
    box-shadow: none;
    margin-top: 0;
}

.liens-dropdown-mobile {
  display: block;
  flex-direction: column;
  border: solid 0.3px;
  border-color: white;
  border-radius: 0.5rem;
}

.dropdown-mobile.active .liens-dropdown-mobile {
  display: flex;
}